<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <appender name="file"
          class="ch.qos.logback.core.rolling.RollingFileAppender">
          <file>${ANTRY_WEB_HOME}/logs/antry-web.log</file>
          <rollingPolicy
               class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
               <fileNamePattern>${ANTRY_WEB_HOME}/logs/sdar-web.%d{yyyy-MM-dd}.log.zip
               </fileNamePattern>
          </rollingPolicy>
          <layout class="ch.qos.logback.classic.PatternLayout">
               <pattern>%d{yy/MM/dd HH:mm:ss} %-5level %logger{5} %L - %msg%n</pattern>
          </layout>
     </appender>

     <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
          <encoder>
               <pattern>%d{yy/MM/dd HH:mm:ss} %-5level %logger{5} %L - %msg%n</pattern>
          </encoder>
     </appender>

     <root level="INFO">
          <appender-ref ref="file" />
          <appender-ref ref="STDOUT" />
     </root>
</configuration>
